.image-upload {
    .img-upload-preview {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .img-upload-input {
        width: 80%;

    }
}