.edit-user-form {
    height: 100vh;
    max-width: 840px;

    .content-card {
        border: 1px solid lightgray;
        border-radius: 8px;
        box-shadow: 0px 4px 10px 0px rgba(21, 21, 21, 0.16);
    }
}